<form action="/config" method="post">
  <input type="hidden" value="{{ config_id }}" name="config_id">

  <div class="field">
    <select name="channel_id">
      {{#each channels}}
        <option value="{{ this.id }}" {{ isSelected this.id }}>{{ this.name }}</option>
      {{/each}}
    </select>
  </div>

  <div class="field">
    <label for="isPolling">
      <input type="checkbox" {{ isChecked }} name="polling" id="isPolling">
      <span>polling?</span>
    </label>
  </div>

  <div class="field">
    <input type="submit" value="save">
  </div>

  <div class="field">
    <a href="/export/{{ config_id }}">Export all accessLog data</a>
  </div>
</form>